playground/*
!playground/.gitkeep
dist/*
!dist/.gitkeep
.DS_Store

test/data/*
!test/data/.gitkeep

exmaple/data/*
!example/data/.gitkeep

# Ignore .env to be able to store db access data in there!
# Can be loaded via https://deno.land/x/dot_env@0.2.0
.env 
